* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: linear-gradient( rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url('../netflix.jpg');
    width: 100%;
    height: 900px;
    display: flex;
    flex-wrap: wrap;
}

.containerWhite {
    width: 100%;
    height: 900px;
    background-color: rgba(204, 128, 128, 0.945, 06, 206, 206);
    display: none;
    flex-wrap: wrap;
}

.containerRegistro {
    width: 100%;
    height: 900px;
    background-color: rgba(204, 128, 128, 0.945, 06, 206, 206);
    display: none;
}

.header1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 35px 35px 0px 35px;
    width: 100%;
    height: 200px;
}

nav {
    width: 100%;
    height: 800px;
}

footer {
    width: 100%;
    height: 300px;
}

.botonInit {
    border-radius: 5px;
    border: 2px solid transparent;
    background: #e50914;
    color: white;
    width: 128px;
    height: 32px;
    font-weight: 800;
    /*align-self: flex-start;
    position: relative;
    top: 35px;
    left: 65%;*/
}

.boton {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    color: white;
}

.imagenNetflix {
    color: white;
    /*position: relative;
    top: 35px;
    left: 35px;*/
}

.header2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}

.header3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 200px;
}

.imagenWhite {
    /* position: relative;
    top: 35px;
    left: 35px;*/
    margin: 35px 0px 0px 35px;
    width: auto;
    height: auto;
}

.iniciar {
    margin: 35px 35px 0px 0px;
    /*position: relative;
    top: 0px;
    left: 949px;*/
    font-size: 18px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 600;
    color: rgb(15, 14, 14);
    text-decoration: none;
}

.iniciar:hover {
    text-decoration: underline;
}

.containerRegis {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 70%;
    height: 600px;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.containerPassword {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 35%;
    height: 600px;
    color: black;
    margin: auto;
    padding: 10px;
    text-align: left;
}

.containerMensaje {
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    width: 35%;
    height: 600px;
    color: black;
    margin: auto;
    padding: 10px;
    text-align: left;
}

#text1 {
    padding: 50px 90px 7px 90px;
    margin: 10px;
    font-size: 50px;
    line-height: 1.1;
    text-align: center;
    font-weight: 500;
}

#text2 {
    font-size: 27px;
}

#text3 {
    padding-top: 30px;
    padding-bottom: 18px;
    font-size: 19px;
}

#text4 {
    font-size: 14px;
}

#text5 {
    font-size: 28px;
}

#text6 {
    padding-top: 20px;
    font-size: 20px;
    padding-bottom: 20px;
}

.nombre {
    font-size: 18px;
    padding-bottom: 20px;
}

.divicionImput {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#login-email {
    /*width: 440px;*/
    flex-basis: 440px;
    height: 60px;
    border-color: white;
    grid-row: 0;
    font-size: 18px;
    text-align: center;
    /*position: relative;
    top: 0px; left: 3px;  */
}

.botonRegistro {
    width: 190px;
    height: 60px;
    background-color: #e50914;
    border-color: #e50914;
    text-align: center;
    font-size: 1.4rem;
    color: white;
    /*position: relative;
    top: 3px; left: 0px;*/
}

.botonRegistro:hover {
    background-color: #f70a16;
}

#login-password {
    height: 60px;
    width: 450px;
    font-size: 18px;
    text-align: center;
}

.botonPassword {
    margin-top: 30px;
    height: 50px;
    width: 450px;
    background-color: #e50914;
    color: white;
    border-color: #e50914;
    font-size: 18px;
}

.botonPassword:hover {
    background-color: #f70a16;
}

footer {
    background-color: #000;
    display: grid;
    padding: 40px 70px 40px 70px;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);
    color: #757575;
}

.footer {
    flex-wrap: wrap;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

#preguntas {
    flex-wrap: wrap;
    position: relative;
    grid-row: 1/1;
    grid-column: 1/5;
}

.culumna1 {
    position: relative;
    grid-row: 2/3;
    grid-column: 1/2;
}

.culumna12 {
    position: relative;
    grid-row: 3;
    grid-column: 1/2;
}

.culumna2 {
    grid-row: 2;
    grid-column: 2/3;
}

.culumna22 {
    grid-row: 3;
    grid-column: 2/3;
}

.columna3 {
    grid-row: 3/3;
    grid-column: 3/4;
}

.columna4 {
    grid-row: 2;
    grid-column: 4/5;
}

select {
    width: 130px;
    height: 60px;
    grid-row: 4;
    grid-column: 1/2;
    border-radius: 5px;
    font-size: 16px;
}

.culumna1:hover,
.culumna12:hover,
.culumna2:hover,
.culumna22:hover,
.culumna3:hover,
.culumna4:hover {
    text-decoration: underline;
}