body {
    background-image: url('./fondoNube.jpg');
    /*background: #bdc3c7;
     fallback for old browsers */
    /*background: -webkit-linear-gradient(to center, #2c3e50, #bdc3c7);
     Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to center, #2c3e50, #bdc3c7);
     W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {}

.card {
    background-image: url('./fondoNubes.png');
    box-shadow: 7px 13px 37px rgb(87, 78, 78);
}

.btn-dark {
    border-radius: 4px;
    color: #707172;
    background: #bdc3c7;
    box-shadow: 7px 13px 37px rgb(87, 78, 78);
}

.btn-dark:hover {
    border-radius: 4px;
    color: black;
    background: #5793CE;
}

.list {
    background: white;
    padding: 8px;
    margin: auto;
    margin-top: 100px;
}

.h2 {
    color: #033A70;
    font-family: 'calibri';
    font-size: 34px;
}

.description {
    font-family: 'calibri';
    font-size: 24px;
}

.degrees {
    font-family: 'calibri';
    font-size: 18px;
}

.list-group-item2 {
    font-family: 'calibri';
    font-size: 18px;
    background: white;
    padding: 8px;
    margin: auto;
}

.list-group-item1 {
    font-family: 'calibri';
    font-size: 18px;
    background: white;
    margin-top: 100px;
    padding: 8px;
    margin: auto;
}