.main-button {
  width: 100px;
  height: 40px;
  background-color: wheat;
  border-radius: 20px;
  transition: all 1s ease;
  outline: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.main-button:hover {
  transform: translateY(-30px);
  background-color: rgb(115, 129, 63);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
